.container{
    width: max-content;
    flex-direction: row;
    display: flex;
    align-items:center;
}

.bigcontainer{
    padding:20px;
}



.picture-card{
    width: 165px;
    height: 100px;
}

.total{
    background-color: lightblue;
    border-radius: 1rem;
    
}