.container{
    width: max-content;
    margin:50px;
    display: flex;
    align-items:center;
}






.product-title{
     background-color: lightgray;
     font-family: 'Acme', sans-serif;
     color:black
}

.product-description{
    background-color: lightgray;
    font-family: 'Acme', sans-serif;
    color:black
}

.price{
    
    font-family: 'Acme', sans-serif;
    color:black
}

.image-detail{
    height: 500px;
    width: 500px;
    position: relative;
    
}