
.logo{
    padding: 0.7em;
       
}

.navbar-light .navbar-brand {
    color: white !important;
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
}


.navbar-light{
    background: black !important;
}

.navcarrito{
    position:relative;
    margin-left: 600px;
    
    
}

.menu a {
    text-decoration: none;
    color: white !important;
    border-radius: 0.5em;
    font-size: 20px;
    
}

.menu a:hover {
    color: blue !important;
    background-color: whitesmoke;
}





.navbar-toggler-icon{
    background: white;
}